*{
    margin: 0%;
}

.main{
    display: flex;
}

.left{
    height: 100vb;
    width: 600px;
    border-right: 1px solid gray;
    
}

.middle{
    height: 100vb;
    width: 600px;
}

.right{
    border-left: 1px solid gray;
    height: 100vb;
    width: 600px;
}

.logo{
    margin-top: 15px;
    margin-left: 335px;
    width: 25px;
    height: 25px;
}

.homeBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.home{
    width: 35px;
    height: 35px;
}

.homeText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.searchBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.search{
    width: 35px;
    height: 35px;
}

.searchText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.notificationBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.notification{
    width: 35px;
    height: 35px;
}

.notificationText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.messageBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.message{
    width: 35px;
    height: 35px;
}

.messageText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.grokBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.grok{
    width: 35px;
    height: 35px;
}

.grokText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.bookmarkBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.bookmark{
    width: 35px;
    height: 35px;
}

.bookmarkText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.jobBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.job{
    width: 35px;
    height: 35px;
}

.jobText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.communityBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.community{
    width: 35px;
    height: 35px;
}

.communityText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.premiumBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.premium{
    width: 35px;
    height: 35px;
}

.premiumText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.verifiedOrgBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.verifiedOrg{
    width: 35px;
    height: 35px;
}

.verifiedOrgText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.profileBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.profile{
    width: 25px;
    height: 25px;
}

.profileText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.moreBar{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.more{
    border: 3px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.moreText{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.post{
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
    width: 200px;
    height: 50px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: x-large;
}

.profileDetail{
    display: flex;
    margin-top: 15px;
    margin-left: 335px;
    margin-bottom: 25px;
}

.profilePicture{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.name{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.username{
    font-size: smaller;
    color: grey;
}

.moreProfile{
    margin-left: 105px;
    width: 15px;
    height: 15px;
}